.container {
  display: grid;
  grid-template-rows: 1fr repeat(1, auto) 1fr;

  max-width: 240px;
  height: 100%;

  margin: 0 auto;
}

.clock {
  grid-row-start: 2;
}

.regionSelector {
  grid-row-start: 3;

  margin-top: auto;
  margin-bottom: 1rem;

  text-align: center;
}

.sidebar {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;

  position: absolute;
  top: 0;
  right: 0;
}

.sidebarIcon {
  margin-right: 1rem;

  font-size: 1.3rem;
  text-align: center;

  cursor: pointer;
}
