.name {
  padding-bottom: 0.2rem;

  color: var(--secondary-hc-color);
  font-size: 1rem;

  opacity: 0;
}

.fadeOut {
  animation: 1s fadeOut;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  30% { opacity: 1; }
  100% { opacity: 0; }
}

.flag.unselected {
  opacity: 0.2;
  
  cursor: pointer;
}

.emoji {
  width: 1.5rem;
}
