.toast {
  padding-bottom: 0.2rem;

  color: var(--secondary-hc-color);
  font-size: 1rem;

  opacity: 0;
}

.toastFadeOut {
  animation: 1.5s toastFadeOut;
}

@keyframes toastFadeOut {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.flag.unselected {
  opacity: 0.2;
  
  cursor: pointer;
}

.emoji {
  width: 1.5rem;

  -webkit-touch-callout: none;
}
