html, body, #root {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
  touch-action: none;
  user-select: none;
}

.dark-mode {
  background-color: #111111;
  color: #ffffff;
}

.dark-mode .graph-now {
  stroke: #666666;
}

.dark-mode .graph-12, .dark-mode .graph-6 {
  stroke: #444444;
}

.dark-mode .graph-text {
  fill: #666666;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

#container {
  display: grid;
  grid-template-rows: 1fr repeat(3, auto) 1fr;

  max-width: 300px;
  height: 100%;

  margin: 0 auto;
}

#percentage {
  grid-row-start: 2;

  font-size: 5rem;
  font-weight: 700;
  text-align: center;

  cursor: pointer;
}

#container.no-extras > #percentage {
  grid-row: 2 / span 3;
}

#graph {
  grid-row-start: 3;

  display: block;
  width: 80%;

  margin: 0 auto;

  cursor: pointer;
}

#container.no-extras > #graph {
  display: none;
}

.graph-now, .graph-12, .graph-6 {
  stroke-width: 1px;

  shape-rendering: crispEdges;
}

.graph-now {
  stroke: #aaaaaa;
}

.graph-12, .graph-6 {
  stroke: #dddddd;
}

.graph-6 {
  stroke-dasharray: 4, 4;
}

.graph-curve {
  stroke: #27a4dd;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: none;
}

.graph-text {
  fill: #aaaaaa;

  font-size: 0.7rem;
}

.graph-text-left {
  text-anchor: left;
}

.graph-text-middle {
  text-anchor: middle;
}

.graph-text-right {
  text-anchor: end;
}

#container.no-extras > #slider {
  display: none;
}

#slider {
  grid-row-start: 4;

  display: block;
  width: 80%;

  margin: 0 auto;
}

.slider-bar {
  visibility: hidden;

  stroke: #777777;
  stroke-width: 2px;
  stroke-linecap: round;
}

.slider-dragging .slider-bar {
  visibility: visible;
}

.slider-dot {
  fill: #444444;

  cursor: ew-resize;
}

.slider-dot:hover {
  fill: #aaaaaa;
}

#signature {
  grid-row-start: 5;

  margin-top: auto;
  margin-bottom: 1rem;

  text-align: center;
}

.emoji {
  width: 24px;
}

#skin-toggle {
  margin: 10px;

  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;

  font-size: 1.3rem;
}
