.barNow, .bar12, .bar6 {
  stroke-width: 1px;

  shape-rendering: crispEdges;
}

.barNow { stroke: var(--secondary-hc-color); }
.bar12, .bar6 { stroke: var(--secondary-lc-color); }

.bar6 {
  stroke-dasharray: 4, 4;
}

.curve {
  stroke: var(--highlight-color);
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: none;
}

.text {
  fill: var(--secondary-lc-color);

  font-size: 0.7rem;
}

.textLeft { text-anchor: left; }
.textMiddle { text-anchor: middle; }
.textRight { text-anchor: end; }
