.bar {
  visibility: hidden;

  stroke: var(--secondary-lc-color);
  stroke-width: 2px;
  stroke-linecap: round;
}

.dragging .bar {
  visibility: visible;
}

.dot {
  fill: var(--secondary-lc-color);

  cursor: ew-resize;
}

.dot:hover {
  fill: var(--secondary-hc-color);
}
